<meta charset="UTF-8">
<title>My First Node App!</title>
<!-- CSS -->
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">